// -----------------colors ----------------
$deep-navy: #002134;
$ocean-teal: #033957;
$soft-peach: #f3e4de;
$pale-cream: #f9f0eb;
$midnight-blue: #171427;
$linen: #f2e8db;
$white: #fff;
$black: #000;
$slate-gray: #6c757d;
$forest-green: #198754;
$crimson: #dc3545;
$amber: #ffc107;
$cool-gray: #868e96;
$cultured: #f8f9fa;
$charcoal: #343a40;
$gradient-charcoal: #343a40;
$gradient-slate-gray: #6c757d;
$dim-gray: #484848;
$jet: #363636;
$prussian-blue: #132d55;
$jet-dark: #363636;
$midnight-navy: #071a36;
$linen: #f2e8db;
$off-white: #faf9f6;
$dim-gray: #484848;
