<!-- <div class=" w-100 height-100 container m-auto">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->

<div class="row">  
    <header class="col-md-12">
      stuff...
    </header>
    <div class="col-md-1 col-a">
      stuff...
    </div>
    <div class="col-md-10 col-b">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1 col-c">
       <div class="col-c-child">
         Stuff..
       </div>
    </div>
    <footer class="col-md-12">
      Stuff
    </footer>
  </div>
